* {
    font-family: fantasy;
}

html {
    background-color: beige;
    font-family: fantasy;
}

#divCanvas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5px 0px 5px;
    border: 0px 5px 0px 5px;
}

#mainStart-btn {
    font-size: 1rem;
}

.btnRow > button {
    font-size: 3rem;
}



#buttonRow {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

canvas {
    background: white;
}

.fakeH1 {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(91, 1, 1);
}

.fakeH2 {
    font-size: 1.8rem;
    font-weight: bolder;
    color: #a7a7a7;
}

#holdingTitle {
    text-align: center;
}